snippet rcs "React.createClass"
var ${1} = React.createClass({
  render: function() {
	return (
	  $0,
	  document.getElementById("${2}")
	);
  }
});
endsnippet


snippet gis "React.getInitialState"
  getInitialState: function() {
	return $0;
  },
endsnippet


snippet cdm "React.componentDidMount"
  componentDidMount: function() {

  },
endsnippet


snippet cwu "React.componentWillUnmount"
  componentWillUnmount: function() {
	
  },
endsnippet
